@model IEnumerable<WEB.GroupViewModel>

@{
    ViewBag.Title = "Groups";
}

<h2>Groups</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumberOfMembers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserNames)
        </th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NumberOfMembers)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UserNames)
    </td>
</tr>
    }
</table>

<div>
    <table class="table">
        <tr>
            <td>
                @Html.ActionLink("Back to Users", "Index")
            </td>
            <td>
                @Html.ActionLink("Add new group", "AddGroup")
            </td>
        </tr>
    </table>
</div>