@model IEnumerable<WEB.UserViewModel>

@{
    ViewBag.Title = "Home";
}

<h2>Users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Age)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Id)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Age)
    </td>
</tr>
    }

</table>

<div>
    <table class="table">
        <tr>
            <td>
                @Html.ActionLink("Add new account", "AddUser")
            </td>
            <td>
                @Html.ActionLink("Add new group", "AddGroup")
            </td>
            <td>
                @Html.ActionLink("Add new invitation", "AddInvitation")
            </td>
            <td>
                @Html.ActionLink("Add new Message", "AddMessage")
            </td>
        </tr>
    </table>
</div>